html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

#event:before, #explore:before, #vdo:before {
  content: "";
  display: block;
  height: 80px;
  width: 100%;
}
.nt__nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  padding: .25rem 0;
}
.nt__nav .navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
}
.nt__promotion {
  color: #FFFF00;
}
.promotioner {
  color: #FFFF00;
}

@media only screen and (min-width: 768px) {
  .nt__promotion {
    font-size: 2.5rem;
  }
  .nt__main--img {
    min-height: 300px;
  }
  .nt__main--img img:first-child,
  .nt__main--img img:last-child {
    position: absolute;
  }
  .nt__main--img img:first-child {
    top: 0;
    left: 0;
    width: 50%;
  }
  .nt__main--img img:last-child {
    top: 0;
    right: 0;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .nt__main--img {
    min-height: 440px;
  }
}

@media only screen and (min-width: 1365px) {
  .nt__main--img {
    min-height: 360px;
  }
}

blockquote::before {
  content: '"';
  display: inline-block;
  font-family: 'Roboto Bold'!important;
  font-size: 1.5rem;
}
blockquote p {
  display: inline;
}
blockquote::after {
  content: '"';
  display: inline-block;
  font-family: 'Roboto Bold'!important;
  font-size: 1.5rem;
}
.nt__more {
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto Bold'!important;
  font-size: 1.25rem;
}
.nt__more:hover {
  color: #000;
  text-decoration: none;
}
.nt__more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nt__more:after {
  content: '';
  background-image: url(./assets/img/arrow-black.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  height: 16px;
  margin-left: 1rem;
  width: 50%;
}

.nt__mored {
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto Bold'!important;
  font-size: 1.25rem;
}

.nt__mored:hover {
  color: #000;
  text-decoration: none;
}

.nt__mored:after {
  content: '';
  display: inline-block;
  background-image: url(./assets/img/arrow-black.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100px;
  height: 16px;
  margin-left: 1rem;
}

@media only screen and (min-width: 992px) {
  .nav-item.active .nav-link:before {
    content: '';
    display: inline-block;
    margin-right: .5rem;
    width: 18px;
    height: 18px;
    background-image: url(./assets/img/cirlce-menu.png);
    vertical-align: middle;
  }
  .nt__nav .navbar-dark .navbar-nav .nav-item:last-child {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .nt__nav .navbar-dark .navbar-nav .nav-item .nav-link {
    text-align: center;
    padding: 1rem 0;
  } 
  .nt__nav .navbar-dark .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-bottom: 2px solid;
  } 
  .nt__inner {
    padding-top: 71px!important;
  }
}

.nt__title--line {
  text-align: center;
  color: #404040;
  text-transform: uppercase;
  font-size: 3rem;
  position: relative;
}
.nt__title--line:before {
  content: '';
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
}
.nt__title--line:after {
  content: '';
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 0;
}
.nt__title--line.text-white:before {
  content: '';
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
}
.nt__title--line.text-white:after {
  content: '';
  display: inline-block;
  width: 30%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}
@media only screen and (min-width: 1365px) {
  .wrapper {
    margin: 0 auto;
    width: 900px;
  }
}

@media only screen and (max-width: 767px) {
  .nt__title--line:before {
    width: 30%;
  }
  .nt__title--line:after {
    width: 30%;
  }
}

.nt__screen--white {
  background: rgba(255,255,255,.9);
  padding: .5rem 1rem;
  font-size: 90%;
}
.rowspecial {
  height: 100%;
  height: -webkit-calc(100% - 15px);
  height: -moz-calc(100% - 15px);
  height: calc(100% - 15px);
}

.the-menu {
  list-style: none;
  padding: 0;
}
.the-menu li:before {
  content: "-"; 
  padding-right: 8px;
}

.nt__explore {
  padding: 1rem 0;
  background-image: url(./assets/img/bg-dive.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border: 0;
  border-radius: 0;
}

.card-body {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer {
  border: 0;
  background: #fff;
}

.card.d-flex {
  margin-bottom: 1rem;
}

.desktop {
  display: none;
}
.mobile {
  display: flex;
}

@media only screen and (min-width: 992px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

.nt__vdo {
  background-image: url(./assets/img/background-gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 1.5rem 0;
}

.nt__footer {
  padding: .5rem;
  text-align: center;
  background: #000;
  color: #fff;
}
.nt__vdo blockquote {
  text-align: center;
  color: #fff;
}
.nt__vdo blockquote::before {
  content: '"';
  display: inline-block;
  font-family: 'Roboto Bold'!important;
  font-size: 1.5rem;
}
.nt__vdo blockquote h3 {
  display: inline;
}
.nt__vdo blockquote::after {
  content: '"';
  display: inline-block;
  font-family: 'Roboto Bold'!important;
  font-size: 1.5rem;
}
.nt__vdo--card {
  position: relative;
}
.nt__vdo--card .overlay {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  z-index: 25;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nt__vdo--title {
  color: #fff;
}
.column-12 {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column-6 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.nt__commitment {
  background-image: url(./assets/img/bg-com-1366.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: calc(100vh - 40px);
  padding-top: 109px;
}

@media only screen and (max-width: 991px) {
  .nt__commitment {
    background-image: url(./assets/img/com720.png);
  }
}

@media only screen and (max-width: 700px) {
  .martin {
    margin-top:-35px;
    margin-left: 70px;
    width: 80%;
  }
}

.nt__commitment h2 {
  color: #404040;
  text-transform: uppercase;
  padding-top: 60px;
}
.nt__commitment h1 {
  color: #404040;
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 20px;
  border-bottom: 3px solid #4e4e4e;
}
.nt__commitment.delete h1 {
  border-bottom: 0;
  padding-bottom: 0;
}
.nt__commitment.delete h2 {
  padding-top: 0;
}

.nt__reward2 {
  display: block;
  margin: 1rem auto;
}
@media only screen and (min-width: 1200px) {
  .nt__reward2 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .divscroll {
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .divscroll::-webkit-scrollbar {
    width: 20px;
  }
  
  .divscroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
  }
   
  .divscroll::-webkit-scrollbar-thumb {
    background: #1b1464; 
  }
  
  .divscroll::-webkit-scrollbar-thumb:hover {
    background: #1b1464; 
  }
}

.wrapper-2 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .text-size-responsive h1 {
    font-size: 2rem;
  }
  .text-size-responsive h2 {
    font-size: 1.25rem;
  }
}
.nt__com--title {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Roboto Bold';
}

.con {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  width: 30px;
}

/* Hide the browser's default checkbox */
.con input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
  background-color: #000;
  border: 4px solid #fff;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
  background-color: #000;
  border: 4px solid #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.con .checkmark:after {
  left: 9px;
  top: 5px;
  width: 30px;
  height: 30px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nt__commitment-img {
  border: 10px solid transparent;
}
.commitment-bg.active {
  border: 10px solid rgba(255,255,255,.3);
}
.commitment-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  min-height: 166px;
  max-width: 400px;
  margin: 1rem auto;
}

.nt__inner {
  background: #f0eee7;
  min-height: calc(100vh - 40px);
  padding-top: 63px;
}

.nt__inner-bg {
  display: flex;
  align-items: center;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-direction: column;
}
.nt__inner-bg h1 {
  margin-top: 150px;
}
.nt__inner-bg h4 {
  border-bottom: 1px solid #fff;
}

.gray {
  color: #2c2c2c;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 5vw);
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery__item--2 { 
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 { 
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--1.t2 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--2.t2 { 
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery__item--3.t2 { 
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

@media only screen and (max-width: 991px) {
  .gallery.h {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 15px;
  }
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  .gallery__item--2 { 
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .gallery__item--3 { 
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }  
}
.google-maps {
  padding: 1rem 0;
}
.google-maps iframe {
  width: 100%;
  height: 250px;
}
.box-image {
  background-image: url(assets/img/become.png);
  background-size: cover;
  background-position: center center;
  width: 280px;
  height: 280px;
  animation: change-image 15s ease infinite;
}

@media only screen and (min-width: 992px) {
  .col-lg {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@-o-keyframes change-image {
  0% {
    background-image: url(assets/img/become.png);
  }
  50% {
    background-image: url(assets/img/become2.png);
  }
  100% {
    background-image: url(assets/img/become3.png);
  }
}
@-moz-keyframes change-image {
  0% {
    background-image: url(assets/img/become.png);
  }
  50% {
    background-image: url(assets/img/become2.png);
  }
  100% {
    background-image: url(assets/img/become3.png);
  }
}
@-webkit-keyframes change-image {
  0% {
    background-image: url(assets/img/become.png);
  }
  50% {
    background-image: url(assets/img/become2.png);
  }
  100% {
    background-image: url(assets/img/become3.png);
  }
}
@keyframes change-image {
  0% {
    background-image: url(assets/img/become.png);
  }
  50% {
    background-image: url(assets/img/become2.png);
  }
  100% {
    background-image: url(assets/img/become3.png);
  }
}

@media only screen and (max-width: 515px) {
  .nt__more {
    font-size: .75rem;
  }
  .nt__title--line:before,
  .nt__title--line:after {
    width: 20%;
  }
  .nt__title--line.text-white:before,
  .nt__title--line.text-white:after {
    width: 12%;
  }
  .nt__title--line.text-white.vdo-line:before,
  .nt__title--line.text-white.vdo-line:after {
    width: 25%;
  }
  .mobile-title,
  .mobile-title span {
    font-size: 130%!important;
  }
  .small-font {
    font-size: .75rem!important;
  }
  .mt-small {
    margin-top:-200px;
  }
}


@media only screen and (min-width: 1279px) {
  .wrapper {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1365px) {
  .wrapper {
    max-width: none;
  }
  .wrapper-2 {
    max-width: 1000px;
  }
  .nt__commitment .container .nt__reward2 {
    max-width: 150px;
    margin: 1rem auto;
  }
  .divscroll {
    max-height: 150px;
  }
}

.btn-group-lg>.btn, .btn-lg {
  line-height: 1;
}
@media only screen and (max-width: 1366px) {
  .nt__nav .container {
    max-width: 960px;
  }
  .nt__commitment .container {
    max-width: 780px;
  }
  .nt__commitment .container h2 {
    padding-top: 0;
  }
}
@media only screen and (min-width: 1201px) {
  .nt__main--bg {
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
  
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
  
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    
    animation: change-background 15s ease infinite;
    -webkit-animation: change-background 15s ease infinite;
    -o-animation: change-background 15s ease infinite;
    -moz-animation: change-background 15s ease infinite;
  }
  @-o-keyframes change-background {
    0% {
      background-image: url(./assets/img/bg.png);
    }
    50% {
      background-image: url(./assets/img/bg2.png);
    }
    100% {
      background-image: url(./assets/img/bg3.png);
    }
  }
  @-moz-keyframes change-background {
    0% {
      background-image: url(./assets/img/bg.png);
    }
    50% {
      background-image: url(./assets/img/bg2.png);
    }
    100% {
      background-image: url(./assets/img/bg3.png);
    }
  }
  @-webkit-keyframes change-background {
    0% {
      background-image: url(./assets/img/bg.png);
    }
    50% {
      background-image: url(./assets/img/bg2.png);
    }
    100% {
      background-image: url(./assets/img/bg3.png);
    }
  }
  @keyframes change-background {
    0% {
      background-image: url(./assets/img/bg.png);
    }
    50% {
      background-image: url(./assets/img/bg2.png);
    }
    100% {
      background-image: url(./assets/img/bg3.png);
    }
  }
}
@media only screen and (min-width: 568px) and (max-width: 1200px) {
  .nt__main--bg {
    background-image: url(./assets/img/bg12001.png);
    background-repeat: no-repeat;
    background-position: center center;
  
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
  
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    
    animation: change-background 15s ease infinite;
    -webkit-animation: change-background 15s ease infinite;
    -o-animation: change-background 15s ease infinite;
    -moz-animation: change-background 15s ease infinite;
  }
  @-o-keyframes change-background {
    0% {
      background-image: url(./assets/img/bg12001.png);
    }
    50% {
      background-image: url(./assets/img/bg12002.png);
    }
    100% {
      background-image: url(./assets/img/bg12003.png);
    }
  }
  @-moz-keyframes change-background {
    0% {
      background-image: url(./assets/img/bg12001.png);
    }
    50% {
      background-image: url(./assets/img/bg12002.png);
    }
    100% {
      background-image: url(./assets/img/bg12003.png);
    }
  }
  @-webkit-keyframes change-background {
    0% {
      background-image: url(./assets/img/bg12001.png);
    }
    50% {
      background-image: url(./assets/img/bg12002.png);
    }
    100% {
      background-image: url(./assets/img/bg12003.png);
    }
  }
  @keyframes change-background {
    0% {
      background-image: url(./assets/img/bg12001.png);
    }
    50% {
      background-image: url(./assets/img/bg12002.png);
    }
    100% {
      background-image: url(./assets/img/bg12003.png);
    }
  }
}

.tr-5 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .nt__com--title {
    height: auto;
  }
  .fr-1 {
    font-size: .5rem;
  }
  .box-image {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
  }
  .card-body {
    padding: 1rem .5rem;
  }
  .card-body h5 {
    margin-bottom: 0;
    font-size: 1rem;
  }
  .btn.btn-lg span {
    padding: 0;
    font-size: 1.25rem;
  }
  .btn.btn-lg span:after {
    width: 59px;
    height: 16px;
  }
  .tr-4 {
    font-size: .88rem!important;
  }
  .gallery.h {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
  }
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  .gallery__item--2 { 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .gallery__item--3 { 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 9;
  }  
  .nt__commitment h2 {
    padding: 0;
  }
  .tr-5 {
    font-size: 1rem;
  }
  .trc {
    font-size: 1.5rem;
  }
  .d-flex.justify-content-center .btn.btn-outline-dark {
    width: 200px;
    font-size: 1.25rem;
  }
  .d-flex.justify-content-center .btn.btn-primary {
    width: 250px;
    font-size: 1.25rem;
    padding: .25rem;
  }
  .nt__title--line {
    font-size: 2rem;
  }

  .nt__main--bg {
    background-image: url(./assets/img/bgm.png);
    background-repeat: no-repeat;
    background-position: center center;
  
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
  
    width: 100%;
    padding-top: 75px;
    padding-bottom: 100px;
    
    animation: change-background 15s ease infinite;
    -webkit-animation: change-background 15s ease infinite;
    -o-animation: change-background 15s ease infinite;
    -moz-animation: change-background 15s ease infinite;
  }
  @-o-keyframes change-background {
    0% {
      background-image: url(./assets/img/bgm.png);
    }
    50% {
      background-image: url(./assets/img/bgm2.png);
    }
    100% {
      background-image: url(./assets/img/bgm3.png);
    }
  }
  @-moz-keyframes change-background {
    0% {
      background-image: url(./assets/img/bgm.png);
    }
    50% {
      background-image: url(./assets/img/bgm2.png);
    }
    100% {
      background-image: url(./assets/img/bgm3.png);
    }
  }
  @-webkit-keyframes change-background {
    0% {
      background-image: url(./assets/img/bgm.png);
    }
    50% {
      background-image: url(./assets/img/bgm2.png);
    }
    100% {
      background-image: url(./assets/img/bgm3.png);
    }
  }
  @keyframes change-background {
    0% {
      background-image: url(./assets/img/bgm.png);
    }
    50% {
      background-image: url(./assets/img/bgm2.png);
    }
    100% {
      background-image: url(./assets/img/bgm3.png);
    }
  }
}

@media only screen and (max-width: 768px) {
  .box-image {
    width: 200px;
    height: 200px;
  }
  .mt-small {
    margin-top: -200px;
  }
  .mt-small .col-lg-5 img {
    display: block;
    margin: 0 auto;
  }
  #carouselCom {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .bcom {
    min-width: 345px;
  }
  .bpn {
    min-width: 145px;
  }
}

@media only screen and (min-width: 1365px) {
  .bcom {
    min-width: auto;
  }
  .bpn {
    min-width: 228px;
  }
}
@media only screen and (max-width: 345px) {
  .bpn {
    min-width: 100%;
  }
}
@media only screen and (max-width: 321px) {
  .bpn {
    min-width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .small-font {
    font-family: 'Roboto Light';
  }
}
@media only screen and (min-width: 1024px) {
  .small-font {
    font-family: 'Roboto';
  }
}

@media only screen and (min-width: 1366px) and (orientation:landscape){
  .nt__commitment .container {
    max-width: 1140px;
  }
}

@media (min-width: 1200px) {
	.container {
    max-width: 1140px;
   }
  .nt__commitment .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 1366px) {
  .nt__commitment .container .display-4 {
    font-size: 1.5rem !important;
  } 
}

@media only screen and (min-width:1440px) {
	.nt__commitment .container {
		max-width: 960px;
	}
}
@media only screen and (min-width:1440px) and (max-width:1680px) {
	.nt__commitment .container {
		max-width: 960px;
	}
	.nt__nav .container {
		max-width: 960px;
	}
}

@media only screen and (min-width: 1920px) {
	.nt__nav .container {
		max-width: 960px;
	}
}

@media only screen and (min-width: 5119px) {
  .nt__main--bg {
    background-image: url(./assets/img/big-1.png);
    background-repeat: no-repeat;
    background-position: center center;
  
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
  
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    
    animation: change-background 15s ease infinite;
    -webkit-animation: change-background 15s ease infinite;
    -o-animation: change-background 15s ease infinite;
    -moz-animation: change-background 15s ease infinite;
  }
  @-o-keyframes change-background {
    0% {
      background-image: url(./assets/img/big-1.png);
    }
    50% {
      background-image: url(./assets/img/big-2.png);
    }
    100% {
      background-image: url(./assets/img/big-3.png);
    }
  }
  @-moz-keyframes change-background {
    0% {
      background-image: url(./assets/img/big-1.png);
    }
    50% {
      background-image: url(./assets/img/big-2.png);
    }
    100% {
      background-image: url(./assets/img/big-3.png);
    }
  }
  @-webkit-keyframes change-background {
    0% {
      background-image: url(./assets/img/big-1.png);
    }
    50% {
      background-image: url(./assets/img/big-2.png);
    }
    100% {
      background-image: url(./assets/img/big-3.png);
    }
  }
  @keyframes change-background {
    0% {
      background-image: url(./assets/img/big-1.png);
    }
    50% {
      background-image: url(./assets/img/big-2.png);
    }
    100% {
      background-image: url(./assets/img/big-3.png);
    }
  }
}
.modal-com {
  min-height: 600px;
  margin-top: 74px;
  border: none;
  background: transparent;
  background-image: url('./assets/img/bg-modal.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 9rem;
  padding-right: 9rem;
  font-size: 90%;
}

.modal-com button {
  min-width: 150px;
}

#newModalMobile {
  background-image: url('./assets/img/bg-com-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media only screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  .modal-xl {
    max-width: 960px;
  }
}

#lightbox {
  display: flex;
  flex-direction: column-reverse;    
}

  .card-body {
    text-align: center;
  }

  #top_inner a,
  #dontshow a {
    height: 150px;
    overflow: hidden;
    display: block;
  }

  @media only screen and (max-width: 991px) {
    #top_inner a,
  #dontshow a {
    height: 80px;
    overflow: hidden;
    display: block;
  }
  }

/* Background Imac Size FULLHD & 4K*/
  @media only screen and (min-width: 2000px) {
    .nt__main--bg {
      background-position-y: -520px;
    }
    .nt__inner-bg {
      min-height: 750px;
    }
    .down-size {
      font-size: .8rem;
    }
  }
  @media only screen and (min-width: 3000px) {
    .nt__main--bg {
      background-position-y: -2560px
    }
    .nt__inner-bg {
      min-height: 750px;
    }
    .down-size {
      font-size: .8rem;
    }
  }