@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Roboto Bold';
  src: url(../fonts/Roboto-Bold.ttf);
}